*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/buildSrc/build
/app/build
/core/build
/data/build
/network/build
.DS_Store
/build
/captures
/core/apikey.properties
.externalNativeBuild
.cxx
local.properties